/ThirdParty/protobuf-2.6.0/src/google/protobuf/compiler/.deps/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/.libs/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/.deps/
/ThirdParty/protobuf-2.6.0/src/Makefile
/ThirdParty/protobuf-2.6.0/libtool
/ThirdParty/protobuf-2.6.0/src/.libs/
/ThirdParty/protobuf-2.6.0/protobuf.pc
/ThirdParty/protobuf-2.6.0/protobuf-lite.pc
/ThirdParty/protobuf-2.6.0/gtest/
/ThirdParty/protobuf-2.6.0/config.status
/ThirdParty/protobuf-2.6.0/config.log
/ThirdParty/protobuf-2.6.0/config.h
/ThirdParty/protobuf-2.6.0/Makefile
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ThirdParty/protobuf-2.6.0/java/target/
/Barista/application.settings
/Barista/build/built-jar.properties
Barista/build/built-jar.properties
/Barista/build
/Barista/dist
