/ThirdParty/protobuf-2.6.0/stamp-h1
/ThirdParty/protobuf-2.6.0/src/unittest_proto_middleman
/ThirdParty/protobuf-2.6.0/src/google/protobuf/*.pb.cc
/ThirdParty/protobuf-2.6.0/src/google/protobuf/*.pb.h
/ThirdParty/protobuf-2.6.0/src/google/protobuf/testing/.deps/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/stubs/*.o
/ThirdParty/protobuf-2.6.0/src/google/protobuf/stubs/*.lo
/ThirdParty/protobuf-2.6.0/src/google/protobuf/stubs/.libs/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/stubs/.dirstamp
/ThirdParty/protobuf-2.6.0/src/google/protobuf/stubs/.deps/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/io/*.o
/ThirdParty/protobuf-2.6.0/src/google/protobuf/io/*.lo
/ThirdParty/protobuf-2.6.0/src/google/protobuf/io/.libs/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/io/.dirstamp
/ThirdParty/protobuf-2.6.0/src/google/protobuf/io/.deps/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/*.lo
/ThirdParty/protobuf-2.6.0/src/google/protobuf/*.o
/ThirdParty/protobuf-2.6.0/src/google/protobuf/compiler/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/.dirstamp
/ThirdParty/protobuf-2.6.0/src/google/protobuf/compiler/.deps/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/.libs/
/ThirdParty/protobuf-2.6.0/src/google/protobuf/.deps/
/ThirdParty/protobuf-2.6.0/src/Makefile
/ThirdParty/protobuf-2.6.0/libtool
/ThirdParty/protobuf-2.6.0/src/.libs/
/ThirdParty/protobuf-2.6.0/protobuf.pc
/ThirdParty/protobuf-2.6.0/protobuf-lite.pc
/ThirdParty/protobuf-2.6.0/gtest/
/ThirdParty/protobuf-2.6.0/config.status
/ThirdParty/protobuf-2.6.0/config.log
/ThirdParty/protobuf-2.6.0/config.h
/ThirdParty/protobuf-2.6.0/Makefile
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ThirdParty/protobuf-2.6.0/java/target/
/Barista/application.settings
/Barista/build/built-jar.properties
Barista/build/built-jar.properties
/Barista/build
/Barista/dist
